@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Fredoka One", cursive;
  background: url(./images/cat.svg) no-repeat bottom right;
  background-size: 10vmax;
  width: 100vw;
  height: 100vh;
}

p {
  font-size: 1.8rem;
}

button.button-reset {
  font-family: "Fredoka One", cursive;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  background-color: khaki;
}

input.button-form {
  font-family: "Fredoka One", cursive;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
  background-color: rgb(140, 240, 198);
}

.container {
  /* background: url(./images/cat.svg) no-repeat bottom right;
  background-size: 10vmax; */
  width: 100vw;
  height: 90vh;
  overflow-y: hidden;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  flex-flow: column wrap;
  place-content: center;
}

.score {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 10vh;
}

.score > *:not(:last-child) {
  margin-bottom: 2vh;
}

.board {
  max-width: fit-content;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
}

.cell {
  width: 10rem;
  height: 10rem;
  border: grey solid 1px;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.circle {
  background: url(./images/circle.svg) no-repeat center;
  background-size: 85%;
}

.cell.cross {
  background: url(./images/cross.svg) no-repeat center;
  background-size: contain;
}

.cell.circle,
.cell.cross {
  cursor: not-allowed;
}

form {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  place-content: center;
}

form > * {
  padding: 0.5rem 0;
}

input {
  border: none;
  border-bottom: 1px solid grey;
  font-family: "Fredoka One", cursive;
}
.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer p {
  padding-right: 1rem;
  font-size: 1.3rem;
}

.footer a {
  color: rgb(142, 143, 143);
  text-decoration: none;
}
